body {
    
    background-color: grey;
}

h1 {
    color: white;
}
.kwadrat1, .kwadrat2, .kwadrat3, .kwadrat4 {
     width: 100px;
    height: 100px;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 10px;
}
